footer {
    position : absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    background-color: black;
    color : white;
    padding: 0 20px;
    width: 97%;
}